<!--
 * @Author: your name
 * @LastEditors: xiasong
 * @Date: 2021-01-25 15:57:52
 * @LastEditTime: 2021-01-25 16:37:04
 * @Description: description
 * @FilePath: \package_all\koa\views\demo.html
-->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #000;
      }

      h2 {
        position: relative;
        color: #ffffff;
        font-size: 10rem;
      }
      canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <h2>hello</h2>
  </body>
</html>
