<!--
 * @Author: your name
 * @LastEditors: xiasong
 * @Date: 2021-01-20 14:58:41
 * @LastEditTime: 2021-01-21 18:14:39
 * @Description: description
 * @FilePath: \package_all\koa\views\index.html
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/add"> 增加成员</a>
    <table border="1" cellpadding="1" cellspacing="0">
      <tr>
        <th>name</th>
        <th>age</th>
        <th>sex</th>
        <th>height</th>
      </tr>
      {{each dbData }}
      <tr>
        <td>{{ $value.name }}</td>
        <td>{{ $value.age }}</td>
        <td>{{ $value.sex }}</td>
        <td>{{ $value.height }}</td>
      </tr>
      {{/each}}
    </table>

    <!-- 原文支持,支持dom -->
    {{@ data.value }}
    <!-- 直接引用 -->
    <div>标题 {{ data.title }}</div>
    <!-- 条件 -->
    {{if data.flag === 1 }}
    <div>1</div>
    {{ else if flag === 2 }}
    <div>2</div>
    {{/if}}
    <!-- -------------------- -->
    <!-- 循环 -->
    {{ each data.list }}
    <li><span> index==>{{$index}} </span><span>value==>{{$value}}</span></li>
    {{/each}}
    <br />
    <!-- 导入模板 -->
    {{ include '../public/footer.html' }}
    <script type="text/javascript">
      // class DB {
      //   static getInstance() {
      //     // 单例模式
      //     if (!DB.instance) {
      //       DB.instance = new DB();
      //     }

      //     return DB.instance;
      //   }

      //   constructor() {
      //     console.log("构造函数被实例的时候触发");
      //     this.connect();
      //   }

      //   connect() {
      //     console.log(1);
      //   }
      // }

      // const dB1 = DB.getInstance();
      // const dB2 = DB.getInstance();
      // console.log(dB1 === dB2);
      // dB1.connect();
      // dB2.connect();
    </script>
  </body>
</html>
